.card {
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
}

.male {
  background-color: #00b2ff29;
}

.female {
  background-color: #d733a826;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.card:hover .del_user {
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

.del_user {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  color: #000000;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}

.del_user:hover {
  background: #b60202e0;
}

.del_user:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #858c91;
}

.del_user::after,
.del_user::before {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}

.del_user::after {
  transform: rotate(-45deg);
}
